.navbar-container{
    align-items: center;
    display: flex;
    flex: 1, 1;
    justify-content:space-between;
    background-color: yellow;
    padding: 12px;
}


.dropdown{
    display:inline-block;
    position: relative;
}

.dropdown-options {
    display:none;
    position: absolute;
    overflow: auto;
  }

  .dropdown:hover .dropdown-options {
    display: block;
  }